:root {
  --background: #2e2d2d;
  --very-dark-blue: #2c2e43;
  --white: #ffffff;
  --gray-300: #cbd5e0;
  --gray-400: #888585;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 90px 0 100px;
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  position: relative;
}

.my-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border: 3px solid var(--white);
  border-radius: 50%;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.avatar:hover {
  border: 3px solid var(--gray-400);
}

.outline-avatar {
  margin-bottom: 4px;
}

.icon-computer {
  width: 30px;
}

h1,
h2 {
  color: var(--gray-400);
  margin-top: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

.my-extra-links li {
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  transition: background-color 0.6s;
  margin-bottom: 12px;
}

.my-extra-links li a {
  color: var(--gray-400);
  text-decoration: none;
  transition: color 0.6s;
}

.my-extra-links li:hover {
  background-color: var(--very-dark-blue);
}

.my-extra-links li:hover a {
  color: var(--gray-300);
}

.link-container {
  display: flex;
  justify-content: center;
}

.icon-react,
.icon-vue,
.icon-next {
  height: 20px;
  width: auto;
}

.social-network-links {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-network-links svg {
  height: 30px;
  width: 30px;
}

.social-network-links svg path {
  fill: var(--gray-400);
  transition: fill 0.6s;
}

.social-network-links svg:hover path {
  fill: var(--very-dark-blue);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-400);
}
