:root {
    --background: #2e2d2d;
    --very-dark-blue: #2c2e43;
    --white: #ffffff;
    --gray-300: #888585;
    --gray-400: #cbd5e0;
}

/* Reset */

* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    align-items: center;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100%;
}

ul {
    list-style: none;
}

.avatar {
    border: 3px solid var(--white);
    border-radius: 50%;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.icon-computer {
    width: 30px;
}

.my-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

h1, h2 {
    color: var(--gray-300);
    margin-top: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 14px;
    font-weight: 400;
}

/* My extra links */

.my-extra-links {
    padding: 24px 16px;
}

.my-extra-links li {
    border: 1px solid var(--gray-300);
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    transition: background-color .6s;
}

.my-extra-links li:not(:last-child) {
    margin-bottom: 12px;
}

.my-extra-links li a {
    color: var(--gray-300);
    text-decoration: none;
    transition: color .6s;
}

.my-extra-links li:hover {
    background-color: var(--very-dark-blue);
}

.my-extra-links li:hover a {
    color: var(--gray-400);
}

/* My social network links */

.social-network-links {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.social-network-links svg {
    height: 30px;
    width: 30px;
}

.social-network-links svg path {
    fill: var(--gray-300);
    transition: fill .6s;
}

.social-network-links svg:hover path {
    fill: var(--very-dark-blue);
}

canvas {
    position: absolute;
    z-index: -100;
}