:root {
  --background: #272c43;
  --white: #ffffff;
  --purple: #644aff;
  --gray-400: #888585;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 90px 0 100px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.my-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border: 4px solid var(--purple);
  border-radius: 50%;
  max-width: 200px;
  height: auto;
}

.outline-avatar {
  margin-bottom: 4px;
}

.icon-computer {
  width: 30px;
}

h1 {
  color: var(--gray-400);
  font-size: 20px;
}

a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.my-extra-links {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.extra-link {
  border: 2px solid var(--gray-400);
  border-radius: 20px;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 12px;
  transition: border-color 0.6s, opacity 0.6s;
}

.extra-link a {
  color: var(--gray-400);
  text-decoration: none;
  justify-content: center;
}

.extra-link:hover {
  border-color: rgba(136, 133, 133, 0.8);
  opacity: 0.8;
}

.icon-react,
.icon-vue,
.icon-next {
  height: 20px;
}

.social-network-links {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-network-links svg {
  height: 30px;
  width: 30px;
}

.social-network-links svg path {
  fill: var(--gray-400);
  transition: fill 0.6s;
}

.social-network-links svg:hover path {
  opacity: 0.6;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-400);
}
